@model UI.Models.Food

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h1 style="margin-top: 150px">Delete Food</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger mt-2">
        @TempData["Error"]
        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Food</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Left)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Left)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCategoryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminCode)
        </dd>
    </dl>
    
    <form class="mt-2" asp-action="Delete" asp-controller="FoodMng" method="post">
        <input type="hidden" asp-for="FoodCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="FoodMng">Back to List</a>
    </form>
</div>
