@model UI.Models.Food

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h1 style="margin-top: 150px">Edit Food</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger mt-2">
        @TempData["Error"]
        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
}

<h4>Food</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="FoodMng" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FoodCode" />
            <div class="form-group">
                <label asp-for="FoodName" class="control-label"></label>
                <input asp-for="FoodName" class="form-control" />
                <span asp-validation-for="FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentPrice" class="control-label"></label>
                <input asp-for="CurrentPrice" class="form-control" type="number" min="0" />
                <span asp-validation-for="CurrentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Left" class="control-label"></label>
                <input asp-for="Left" class="form-control" type="number" min="0" />
                <span asp-validation-for="Left" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sold" class="control-label"></label>
                <input asp-for="Sold" class="form-control" type="number" min="0" />
                <span asp-validation-for="Sold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FTypeCode" class="control-label"></label>
                <select asp-for="FTypeCode" class="form-control">
                    @foreach (var item in ViewBag.FTypeName)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FCategoryCode" class="control-label"></label>
                <select asp-for="FCategoryCode" class="form-control">
                    @foreach (var item in ViewBag.FCategoryName)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="FoodMng">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
