@model IEnumerable<UI.Models.Food>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout2.cshtml";
    string Searchstr = string.Empty;
}

<h1 style="margin-top: 150px">Food Management</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success mt-2">
        @TempData["Message"]
        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
}

<p>
    <a asp-action="Create" asp-controller="FoodMng">Create New</a>
</p>

<form asp-action="Search" asp-controller="FoodMng" asp-route-searchstr="@Searchstr">
    <div class="input-group">
        <input class="form-control" type="search" required asp-for="@Searchstr" placeholder="Nhập tên thức ăn" aria-label="Search" id="Search" size="35px">
        <input type="submit" class="input-group-text btn btn-secondary" value="Search">
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviousPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Left)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviousPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Left)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FTypeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCategoryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminCode)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="FoodMng" asp-route-id="@item.FoodCode">Edit</a> |
                <a asp-action="Details" asp-controller="FoodMng" asp-route-id="@item.FoodCode">Details</a> |
                <a asp-action="Delete" asp-controller="FoodMng" asp-route-id="@item.FoodCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="btn-group">
    <a asp-action="Prev" asp-controller="FoodMng" class="btn btn-primary mt-3 me-3 me-5 p-2"><i class="fa-solid fa-arrow-left"></i></a>
    <a asp-action="Next" asp-controller="FoodMng" class="btn btn-primary mt-3 me-5 p-2"><i class="fa-solid fa-arrow-right"></i></a>
</div>
