@model IEnumerable<UI.Models.Admin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout2.cshtml";
    string Searchstr = string.Empty;
}

<h1 style="margin-top: 150px">Admin Management</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success mt-2">
        @TempData["Message"]
        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
}

<p>
    <a asp-action="Create" asp-controller="AdminMng">Create New</a>
</p>

<form asp-action="Search" asp-controller="AdminMng" asp-route-searchstr="@Searchstr">
    <div class="input-group">
        <input class="form-control" asp-for="@Searchstr" type="search" required placeholder="Nhập email cần tìm" aria-label="Search" id="Search" size="35px">
        <input type="submit" class="input-group-text btn btn-secondary" value="Search">
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOnl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOnl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="AdminMng" asp-route-id="@item.AdminCode">Edit</a> |
                <a asp-action="Details" asp-controller="AdminMng" asp-route-id="@item.AdminCode">Details</a> |
                <a asp-action="Delete" asp-controller="AdminMng" asp-route-id="@item.AdminCode">Delete</a>
            </td>
            <td><a asp-action="ForceOff" asp-controller="AdminMng" asp-route-id="@item.AdminCode">Force Offline</a></td>
        </tr>
}
    </tbody>
</table>
<div class="btn-group">
    <a asp-action="Prev" asp-controller="AdminMng" class="btn btn-primary mt-3 me-5 p-2"><i class="fa-solid fa-arrow-left"></i></a>
    <a asp-action="Next" asp-controller="AdminMng" class="btn btn-primary mt-3 me-5 p-2"><i class="fa-solid fa-arrow-right"></i></a>
</div>
