@model UI.Models.FoodCategory

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout2.cshtml";
    string Searchstr = string.Empty;
}

<h1 style="margin-top: 150px">Food Category Management</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success mt-2">
        @TempData["Message"]
        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
}
<a asp-action="Back" asp-controller="FoodCategoryMng">Trở lại</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Image)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="FoodCategoryMng" asp-route-id="@Model.FCategoryCode">Edit</a> |
                <a asp-action="Details" asp-controller="FoodCategoryMng" asp-route-id="@Model.FCategoryCode">Details</a> |
                <a asp-action="Delete" asp-controller="FoodCategoryMng" asp-route-id="@Model.FCategoryCode">Delete</a>
            </td>
        </tr>
    </tbody>
</table>



