@model IEnumerable<UI.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout2.cshtml";
    string Searchstr = string.Empty;
}

<h1 style="margin-top: 150px">Customer Management</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success mt-2">
        @TempData["Message"]
        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
}

<p>
    <a asp-action="Create" asp-controller="CustomerMng">Create New</a>
</p>

<form asp-action="Search" asp-controller="CustomerMng" asp-route-searchstr="@Searchstr">
    <div class="input-group">
        <input class="form-control" type="search" asp-for="@Searchstr" placeholder="Nhập user name" aria-label="Search" id="Search" size="35px">
        <input type="submit" class="input-group-text btn btn-secondary" value="Search">
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admins)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Email" asp-controller="CustomerMng">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Email" asp-controller="CustomerMng">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Email" asp-controller="CustomerMng">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="btn-group">
    <a asp-action="Prev" asp-controller="CustomerMng" class="btn btn-primary mt-3 me-3 me-5 p-2"><i class="fa-solid fa-arrow-left"></i></a>
    <a asp-action="Next" asp-controller="CustomerMng" class="btn btn-primary mt-3 me-5 p-2"><i class="fa-solid fa-arrow-right"></i></a>
</div>
